* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #0b214a;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b4c8c;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.logo {
  width: 48px;
  height: 48px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 40%;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
}

.search-bar button {
  background: #0b4c8c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.profile .avatar {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d9d9d9;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  background: #f6f6f6;
  padding: 12px;
}

.navbar a {
  text-decoration: none;
  color: #0b4c8c;
  font-weight: 600;
}

/* HERO */
.hero {
  background: #d9d9d9;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  background: #d9d9d9;
  color: #555;
  font-size: 14px;
  text-align: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

/* SECTION BASE */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
  gap: 20px;
}

.section:nth-child(even) {
  background: #f6f6f6;
}

.blue-section {
  background: #0b4c8c;
  color: #fff;
}

.alt-section {
  background: #f6f6f6;
}

.text-box {
  flex: 1;
  color: white;
  background-color: #123468;
  padding: 15px;
}

.text-box h2 {
  margin-bottom: 16px;
}

.text-box ul {
  list-style: none;
  margin-bottom: 20px;
}

.text-box li {
  margin-bottom: 6px;
  font-weight: 500;
}
.text {
    display: flex;             
  flex-direction: column;    
  align-items: center;       
  justify-content: center;   
    
}
.btn {
  margin-top: 30px;  
  background: #fff;
  color: #0b4c8c;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.blue-section .btn {
  background: #fff;
  color: #0b4c8c;
}

.alt-section .btn {
  background: #0b4c8c;
  color: #fff;
}

/* FOOTER */
.footer {
  background: #0b4c8c;
  height: 60px;
  margin-top: 40px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .search-bar {
    width: 60%;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 20px;
  }

  .placeholder {
    width: 100%;
  }
}
