h1{
    color: green;
}

.perfil{ 
    margin-top: 40px;
    max-width: 70%;
    min-width: 720px;
    
    border: 1px solid black;
    border-radius: 10px;
}

.dados-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 500px;
}
