@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Cores Prédefinidas */
    --corAzul: #0F5A93;
    --corBranco: #FAFAFA;
    --corCinzaClaro: #f8f8f8;
    --corCinzaEscuro: #616161;
    --corPreto: #000;

    /* Tipografia */
    --fonteInter: 'Inter', sans-serif;
}

body{
    background-color: white;
}

.destaque-cadastro{
    /* Proporção */
    min-width: 1080px;
    max-width: 100%;
    padding: 50px 300px;
    
    /* Cores */
    background-color: var(--corAzul);
    color: var(--corBranco);

}

.destaque-cadastro h2{
    max-width: 1280px;
    margin: 0px 20px;
}

main article{
    /* Proporção */
    min-width: 50%;
    max-width: 100%;

    margin: auto;
}

.bordas{
    /* Posicionamento e Alinhamento*/
    max-width: 1280px;

    /* Bordas */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cadastro{
    /* Proporção */
    padding: 50px;

    /* Grid de alinhamento */
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
    gap: 150px;
}

.titulo{
    padding-top: 50px;
    text-align: center;
    color: var(--corAzul);
}



label{
    min-height: 25px;

    font-weight: bold;
    color: var(--corCinzaEscuro);
    max-width: fit-content;
}

input{
    /* Dimensionamento */
    min-height: 30px;

    /* Cores */
    border: 1px solid var(--corCinzaEscuro); 
    border-radius: 5px;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    min-width: 100%;
}

aside.grupo-input{
    /* Dimensionamento */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    margin: 0px;
}

.min-grupo-input input{
    width: 90%;
}

.btn-cadastro{
    /* Dimensionamento */
    margin: auto;
    display: block;
    padding: 10px 100px;
    font-size: 1.5em;
    font-weight: bold;

    /* Cores */
    color: var(--corBranco);
    background-color: var(--corAzul);
    border: 1px solid var(--corAzul);
    border-radius: 10px;

}

.btn-cadastro:hover{
    transition: 500ms;
    color: var(--corAzul);
    background-color: var(--corBranco);
    border: 1px solid #0F5A93;
    cursor: pointer;
}

.btn-cadastro{
    /* Dimensionamento */
    margin: auto;
    display: block;
    padding: 10px 100px;
    font-size: 1.5em;
    font-weight: bold;

    /* Cores */
    color: var(--corBranco);
    background-color: var(--corAzul);
    border: 1px solid var(--corAzul);
    border-radius: 10px;

}

.btn-cadastro:hover{
    transition: 500ms;
    color: var(--corAzul);
    background-color: var(--corBranco);
    border: 1px solid #0F5A93;
    cursor: pointer;
}

/* ---------- Página de Cadastro USUARIO ---------- */

#form-cadastro {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 90px;
}

section.dados-pessoais{
    display: flex;
    flex-direction: column ;
    margin-bottom: 15px;
    min-width: 300px;
}

section.dados-endereco{
    display: flex;
    flex-direction: column ;
    margin-bottom: 15px;
    min-width: 300px;
}


/* ---------- Página de Cadastro ONG ---------- */

#form-ONG{
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 90px;
}

#descricao{
    height: 100px;
    text-align: justify;
    resize: none;
    overflow: hidden;      /* 🔒 Impede que o texto “vaze” da caixa */
    white-space: pre-wrap; /* 🔄 Quebra linhas automaticamente */
    word-wrap: break-word; /* 🔤 Quebra palavras longas */
}

/* ---------- Página de Login ---------- */

.login{
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
}

#form-login {
    padding: 0px 100px;
    margin-left: 100px;

    width: 280px;
    row-gap: 10px;

}

.dados-login{
    width: 250px;
}

.dados-login h1{
    text-align: center;
    padding: 30% 0px 25% 0px;
    color: var(--corAzul);
}

.btn-recuperar{
    /* Alinhamento */
    text-align: center;
    margin: auto;

    /* Cores e Estilos */
    color: var(--corAzul);
    background-color: white;
    border: 0px;
    font-size: 1em;
    font-weight: bold;
}
.btn-recuperar:hover{
    transition: 500ms;
    color: var(--corAzul);
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.btn-login{
    /* Dimensionamento */
    margin: auto;
    margin-top: 50px;
    display: block;
    padding: 10px 80px;
    font-size: 1.2em;
    font-weight: bold;

    /* Cores e Estilos */
    color: var(--corBranco);
    background-color: var(--corAzul);
    border: 1px solid var(--corAzul);
    border-radius: 10px;
}

.btn-login:hover{
    transition: 500ms;
    color: var(--corAzul);
    background-color: var(--corBranco);
    border: 1px solid #0F5A93;
    cursor: pointer;
}


.btn-cadastrar-se{
    display: flex;
    margin-top: 20px;
}

.imagem-maos{
    /* Proporção */
    width: fit-content;
    height: 600px;
    display: flex;
    justify-content: right;
}

.ilustracao{
    /* Proporção */
    width: 90%; 
    height: 100%;

    /* Borda Arredondada */
    border-radius: 0px 10px 10px 0px;

    /* Alinhamento */
    display: flex;
    object-fit: cover;
}
